dialog.mobile-overlay.visible-mobile(id="mobileOverlay") 
    form.mobile-overlay__close-button-wrapper(method="dialog")
        button(class="mobile-overlay__close-button cross-button"
        type="submit")
            span.visually-hidden Close navigation menu

    div.mobile-overlay__body 

        li.mobile-overlay__item     
            a.mobile-overlay__link(href="/") About Us

        li.mobile-overlay__item     
            a.mobile-overlay__link(href="/") Services 

        li.mobile-overlay__item     
            a.mobile-overlay__link(href="/") Use Cases 

        li.mobile-overlay__item     
            a.mobile-overlay__link(href="/") Pricing 

        li.mobile-overlay__item   
            a.mobile-overlay__link(href="/") Blog